@import './assets/scss/variables';

#App{
    display: flex;
    background-color: $content-background-color;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    #content{
        width: 100%;
        height: 100%;
    }
    section{
        padding: 1em;
        overflow: auto;
    }
}